## Introduction
Now that you know how to access and examine a dataset, you're ready to write your first SQL query! As you'll soon see, SQL queries will help you sort through a massive dataset, to retrieve only the information that you need.

We'll begin by using the keywords SELECT, FROM, and WHERE to get data from specific columns based on conditions you specify.

For clarity, we'll work with a small imaginary dataset pet_records which contains just one table, called pets.

## SELECT ... FROM
The most basic SQL query selects a single column from a single table. To do this,

specify the column you want after the word SELECT, and then
specify the table after the word FROM.
For instance, to select the Name column (from the pets table in the pet_records database in the bigquery-public-data project), our query would appear as follows:

In [65]:
import pandas as pd
from pandas.io import gbq

In [66]:
df = gbq.read_gbq('SELECT * FROM pet_records.pet_records LIMIT 100', project_id='numeric-dialect-275303')

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  9.76rows/s]

In [67]:
df

   ID                Name  Animal
0   1  Dr. Harris Bonkers  Rabbit
1   2                Moon     Dog
2   3              Ripley     Cat
3   4                 Tom     Cat

WHERE ...
BigQuery datasets are large, so you'll usually want to return only the rows meeting specific conditions. You can do this using the WHERE clause.

The query below returns the entries from the Name column that are in rows where the Animal column has the text 'Cat'.

##### Cara import dari Kaggle Micro-Coureses

from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "openaq" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there's only one!)
for table in tables:  
    print(table.table_id)

The dataset contains only one table, called global_air_quality. We'll fetch the table and take a peek at the first few rows to see what sort of data it contains. (Again, we have hidden the code. To take a peek, click on the "Code" button below.)

# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=5).to_dataframe()

##### Cara Sendiri

In [68]:
df = gbq.read_gbq('SELECT * FROM pet_records.pet_records WHERE Animal="Cat"', project_id='numeric-dialect-275303')

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 2/2 [00:01<00:00,  1.17rows/s]

In [69]:
df

   ID    Name Animal
0   3  Ripley    Cat
1   4     Tom    Cat

## Example: What are all the U.S. cities in the OpenAQ dataset?
Now that you've got the basics down, let's work through an example with a real dataset. We'll use an OpenAQ dataset about air quality.

First, we'll set up everything we need to run queries and take a quick peek at what tables are in our database. (Since you learned how to do this in the previous tutorial, we have hidden the code. But if you'd like to take a peek, you need only click on the "Code" button below.)

from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "openaq" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there's only one!)
for table in tables:  
    print(table.table_id)

The dataset contains only one table, called global_air_quality. We'll fetch the table and take a peek at the first few rows to see what sort of data it contains. (Again, we have hidden the code. To take a peek, click on the "Code" button below.)

# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=5).to_dataframe()

In [71]:
aq_indonesia = gbq.read_gbq('select * from openaq.openaq_indonesia limit 1000', project_id='numeric-dialect-275303')

Downloading: 100%|██████████████████████████████████████████████████████████████| 1000/1000 [00:03<00:00, 330.58rows/s]

In [72]:
aq_indonesia

,location,city,country,utc,local,parameter,value,unit,latitude,longitude,attribution
0,US Diplomatic Post: Jakarta South,Jakarta,ID,2020-04-23 20:00:00+00:00,2020-04-23 20:00:00+00:00,pm25,80,µg/m³,-6.236704,106.793240,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
1,US Diplomatic Post: Jakarta South,Jakarta,ID,2020-04-23 19:00:00+00:00,2020-04-23 19:00:00+00:00,pm25,69,µg/m³,-6.236704,106.793240,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
2,US Diplomatic Post: Jakarta South,Jakarta,ID,2020-04-23 18:00:00+00:00,2020-04-23 18:00:00+00:00,pm25,72,µg/m³,-6.236704,106.793240,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
3,US Diplomatic Post: Jakarta South,Jakarta,ID,2020-04-23 17:00:00+00:00,2020-04-23 17:00:00+00:00,pm25,71,µg/m³,-6.236704,106.793240,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
4,US Diplomatic Post: Jakarta South,Jakarta,ID,2020-04-23 01:00:00+00:00,2020-04-23 01:00:00+00:00,pm25,78,µg/m³,-6.236704,106.793240,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
...,...,...,...,...,...,...,...,...,...,...,...
995,US Diplomatic Post: Jakarta Central,Jakarta,ID,2020-02-24 18:00:00+00:00,2020-02-24 18:00:00+00:00,pm25,8,µg/m³,-6.182536,106.834236,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
996,US Diplomatic Post: Jakarta Central,Jakarta,ID,2020-02-23 17:00:00+00:00,2020-02-23 17:00:00+00:00,pm25,8,µg/m³,-6.182536,106.834236,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
997,US Diplomatic Post: Jakarta Central,Jakarta,ID,2020-02-23 05:00:00+00:00,2020-02-23 05:00:00+00:00,pm25,8,µg/m³,-6.182536,106.834236,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
998,US Diplomatic Post: Jakarta Central,Jakarta,ID,2020-02-19 18:00:00+00:00,2020-02-19 18:00:00+00:00,pm25,8,µg/m³,-6.182536,106.834236,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
999,US Diplomatic Post: Jakarta Central,Jakarta,ID,2020-02-18 07:00:00+00:00,2020-02-18 07:00:00+00:00,pm25,8,µg/m³,-6.182536,106.834236,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."

Everything looks good! So, let's put together a query. Say we want to select all the values from the city column that are in rows where the country column is 'US' (for "United States").

# Query to select all the items from the "city" column where the "country" column is 'US'
query = """
        SELECT city
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

In [77]:
# Dataset kita berbeda dengan dataset di khursus 
aq_indonesia = gbq.read_gbq('select * from openaq.openaq_indonesia where location = "US Diplomatic Post: Jakarta South" limit 50', project_id='numeric-dialect-275303')

Downloading: 100%|███████████████████████████████████████████████████████████████████| 50/50 [00:01<00:00, 26.95rows/s]

In [79]:
aq_indonesia.head()

,location,city,country,utc,local,parameter,value,unit,latitude,longitude,attribution
0,US Diplomatic Post: Jakarta South,Jakarta,ID,2020-04-23 20:00:00+00:00,2020-04-23 20:00:00+00:00,pm25,80,µg/m³,-6.236704,106.79324,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
1,US Diplomatic Post: Jakarta South,Jakarta,ID,2020-04-23 19:00:00+00:00,2020-04-23 19:00:00+00:00,pm25,69,µg/m³,-6.236704,106.79324,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
2,US Diplomatic Post: Jakarta South,Jakarta,ID,2020-04-23 18:00:00+00:00,2020-04-23 18:00:00+00:00,pm25,72,µg/m³,-6.236704,106.79324,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
3,US Diplomatic Post: Jakarta South,Jakarta,ID,2020-04-23 17:00:00+00:00,2020-04-23 17:00:00+00:00,pm25,71,µg/m³,-6.236704,106.79324,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
4,US Diplomatic Post: Jakarta South,Jakarta,ID,2020-04-23 01:00:00+00:00,2020-04-23 01:00:00+00:00,pm25,78,µg/m³,-6.236704,106.79324,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."

Take the time now to ensure that this query lines up with what you learned above.

## Submitting the query to the dataset
We're ready to use this query to get information from the OpenAQ dataset. As in the previous tutorial, the first step is to create a Client object.

# Create a "Client" object
client = bigquery.Client()

We begin by setting up the query with the query() method. We run the method with the default parameters, but this method also allows us to specify more complicated settings that you can read about in the documentation. We'll revisit this later.

# Set up the query
query_job = client.query(query)

Next, we run the query and convert the results to a pandas DataFrame.

# API request - run the query, and return a pandas DataFrame
us_cities = query_job.to_dataframe()

Now we've got a pandas DataFrame called us_cities, which we can use like any other DataFrame.

# What five cities have the most measurements?
us_cities.city.value_counts().head()

## More queries
If you want multiple columns, you can select them with a comma between the names:

query = """
        SELECT city, country
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

You can select all columns with a * like this:

query = """
        SELECT *
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """

## Q&A: Notes on formatting
The formatting of the SQL query might feel unfamiliar. If you have any questions, you can ask in the comments section at the bottom of this page. Here are answers to two common questions:

##### Question: What's up with the triple quotation marks (""")?
Answer: These tell Python that everything inside them is a single string, even though we have line breaks in it. The line breaks aren't necessary, but they make it easier to read your query.

##### Question: Do you need to capitalize SELECT and FROM?
Answer: No, SQL doesn't care about capitalization. However, it's customary to capitalize your SQL commands, and it makes your queries a bit easier to read.

## Working with big datasets
BigQuery datasets can be huge. We allow you to do a lot of computation for free, but everyone has some limit.

Each Kaggle user can scan 5TB every 30 days for free. Once you hit that limit, you'll have to wait for it to reset.

The biggest dataset currently on Kaggle is 3TB, so you can go through your 30-day limit in a couple queries if you aren't careful.

Don't worry though: we'll teach you how to avoid scanning too much data at once, so that you don't run over your limit.

To begin,you can estimate the size of any query before running it. Here is an example using the (very large!) Hacker News dataset. To see how much data a query will scan, we create a QueryJobConfig object and set the dry_run parameter to True.

# Query to get the score column from every row where the type column has value "job"
query = """
        SELECT score, title
        FROM `bigquery-public-data.hacker_news.full`
        WHERE type = "job" 
        """

# Create a QueryJobConfig object to estimate size of query without running it
dry_run_config = bigquery.QueryJobConfig(dry_run=True)

# API request - dry run query to estimate costs
dry_run_query_job = client.query(query, job_config=dry_run_config)

print("This query will process {} bytes.".format(dry_run_query_job.total_bytes_processed))

You can also specify a parameter when running the query to limit how much data you are willing to scan. Here's an example with a low limit.

# Only run the query if it's less than 1 MB
ONE_MB = 1000*1000
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=ONE_MB)

# Set up the query (will only run if it's less than 1 MB)
safe_query_job = client.query(query, job_config=safe_config)

# API request - try to run the query, and return a pandas DataFrame
safe_query_job.to_dataframe()

In this case, the query was cancelled, because the limit of 1 MB was exceeded. However, we can increase the limit to run the query successfully!

## Exercise: Select, From & Where

### 1) Units of measurement
Which countries have reported pollution levels in units of "ppm"? In the code cell below, set first_query to an SQL query that pulls the appropriate entries from the country column.

In case it's useful to see an example query, here's some code from the tutorial:

    query = """ SELECT city FROM `bigquery-public-data.openaq.global_air_quality` WHERE country = 'US' """

# Query to select countries with units of "ppm"
first_query = """ SELECT country FROM `bigquery-public-data.openaq.global_air_quality` 
                  WHERE unit = "ppm" """ # Your code goes here

# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
first_query_job = client.query(first_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
first_results = first_query_job.to_dataframe()

# View top few rows of results
print(first_results.head())

# Check your answer
q_1.check()

In [88]:
# Dataset kita berbeda dengan dataset di khursus 
aq_indonesia = gbq.read_gbq('select * from openaq.openaq_indonesia where unit = "ppm" limit 50', project_id='numeric-dialect-275303')

Downloading: 0rows [00:01, ?rows/s]

In [89]:
#tidak ada data unit = "ppm" di dataset indonesia
aq_indonesia

Empty DataFrame
Columns: [location, city, country, utc, local, parameter, value, unit, latitude, longitude, attribution]
Index: []

### 2) High air quality
Which pollution levels were reported to be exactly 0?

Set zero_pollution_query to select all columns of the rows where the value column is 0.
Set zero_pollution_results to a pandas DataFrame containing the query results.

In [90]:
# Dataset kita berbeda dengan dataset di khursus 
aq_indonesia = gbq.read_gbq('select * from openaq.openaq_indonesia where value = 0 limit 50', project_id='numeric-dialect-275303')

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 13.28rows/s]

In [91]:
aq_indonesia

,location,city,country,utc,local,parameter,value,unit,latitude,longitude,attribution
0,US Diplomatic Post: Jakarta Central,Jakarta,ID,2020-01-29 22:00:00+00:00,2020-01-29 22:00:00+00:00,pm25,0,µg/m³,-6.182536,106.834236,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
1,US Diplomatic Post: Jakarta Central,Jakarta,ID,2020-01-27 09:00:00+00:00,2020-01-27 09:00:00+00:00,pm25,0,µg/m³,-6.182536,106.834236,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
2,US Diplomatic Post: Jakarta Central,Jakarta,ID,2020-01-27 08:00:00+00:00,2020-01-27 08:00:00+00:00,pm25,0,µg/m³,-6.182536,106.834236,"[{""name"":""EPA AirNow DOS"",""url"":""http://airnow..."
3,Jakarta Central,N/A,ID,2020-01-29 21:00:00+00:00,2020-01-29 21:00:00+00:00,pm25,0,µg/m³,-6.182536,106.834235,"[{""name"":""US EPA AirNow"",""url"":""http://www.air..."
4,Jakarta Central,N/A,ID,2020-01-27 08:00:00+00:00,2020-01-27 08:00:00+00:00,pm25,0,µg/m³,-6.182536,106.834235,"[{""name"":""US EPA AirNow"",""url"":""http://www.air..."
5,Jakarta Central,N/A,ID,2020-01-27 07:00:00+00:00,2020-01-27 07:00:00+00:00,pm25,0,µg/m³,-6.182536,106.834235,"[{""name"":""US EPA AirNow"",""url"":""http://www.air..."

That query wasn't too complicated, and it got the data you want. But these SELECT queries don't organizing data in a way that answers the most interesting questions. For that, we'll need the GROUP BY command.

If you know how to use groupby() in pandas, this is similar. But BigQuery works quickly with far larger datasets.

Fortunately, that's next.